@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intentType{
  background-color:rgb(221, 221, 221);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}
.intentTypeReply{
  background-color:rgb(216 207 194);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}
.app{
  display: flex;
  flex-direction: row;
}
.intent{
  padding: 20px;
}
.header{
  background-color: whitesmoke;
  text-align: center;
  padding: 1rem;
}